<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${lesson.name}"></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
        <link rel="stylesheet" th:href="@{/assets/css/lesson.css}" />
    </head>
    <body>
        <div class="floating-dots" style="top: -300px; right: -300px;"></div>
        <div class="floating-dots" style="bottom: -300px; left: -300px;"></div>

        <div class="nav-buttons">
            <a th:href="@{/courses/course-page/{id}(id=${course.id})}" class="nav-button">
                Home
            </a>
            <a th:if="${nextLesson != null}"
               th:href="@{/lessons/{id}(id=${nextLesson.id})}"
               class="nav-button">
                Next Lesson
            </a>
        </div>

        <div class="lesson-container">

            <h1 th:text="${lesson.name}" class="lesson-title"></h1>
            <div class="title-line"></div>

            <div class="content-card">
                <div th:if="${lesson.content != null and !lesson.content.isEmpty()}"
                     th:utext="${lessonContentHtml}">
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <script th:src="@{/assets/js/background-particles.js}"></script>
    </body>
</html>
