<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/layout/css/reset.css">
  <link rel="stylesheet" href="/layout/css/index.css">
  <title>сдайЕгэ.ком</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="header__inner">
        <div>
          <img src="./assets/image/header-logo.png" alt="logo">
        </div>
        
            <nav>
              <ul class="nav__menu">
                <li class="link__item"><a href="">В начало</a></li>
                <li class="link__item"><a href="">Выбрать курсы</a></li>
                <li class="link__item"><a href="">Курсы</a></li>
                <li class="link__item"><a href="">FAQ</a></li>
                <li class="link__item"><a href="">Контакты</a></li>
                <li class="link__item"><a href="">О нас</a></li>
              </ul>
            </nav>

        <div class="btn-section">
          <form action="/">
            <button class="btn">Войти</button>
          </form>
          <form action="./html-pages/create-account.html">
            <button class="btn">Зарегистрироваться</button>
          </form>
        </div>     
      </div>
    </div>
  </header>

  <main>
    <section class="main-home-section">
      <div class="container-1772px">
        <div class="home-section-container">
          <p class="title home-section">Поступи в вуз мечты вместе <br>с нами</p>
          <p class="subtitle-home-section">Становись лучше <br>с каждым занятием!</p>
          <form action="">
            <input class="search-line-home-section" type="search" name="text" placeholder="Какой предмет вас интересует?">
            <input class="search-home-section" type="submit" name="submit" value="Найти">
          </form>
          
          <div class="div-container">
            <div><p>Профильная математика</p></div>
            <div><p>Математика</p></div>
            <div><p>Русский язык</p></div>
            <div><p>Физика</p></div>
          </div>
        </div>
      </div>
    </section>

    <section class="course-selector-section">
      <div class="container-1772x">
        <div class="section__inner">
          <p class="title orange">
            Первая в мире
            платформа <br> 
            <span class="blue">
              онлайн обучения на основе
              ИИ
            </span>
          </p>

          <div class="carousel">
            <div class="course-selector-wrapper">
              <div class="course-selector">
                <div class="course-selector-container">
                  <img src="./assets/image/create-account-page/blue-logo.png" alt="blue-logo">
                  <div class="course-selector-container-inner">
                    <p>Основанные на <span class="orange">AI курсы</span></p>
                    <img src="./assets/image/create-account-page/tank-with-brain.png" alt="tank-with-brain">
                  </div>
                </div>
                <div class="course-selector-container">
                  <img src="./assets/image/create-account-page/blue-logo.png" alt="blue-logo">
                  <div class="course-selector-container-inner">
                    <p>AI придумает <span class="orange">вариант</span></p>
                    <img src="./assets/image/create-account-page/coures-selector-brain.png" alt="coures-selector-brain">
                  </div>
                </div>
                <div class="course-selector-container">
                  <img src="./assets/image/create-account-page/blue-logo.png" alt="blue-logo">
                  <div class="course-selector-container-inner">
                    <p>AI придумает <span class="orange">тест/квиз</span></p>
                    <img src="./assets/image/create-account-page/course-selector-compi]uter.png" alt="course-selector-computer">
                  </div>
                </div>
                <div class="course-selector-container">
                  <img src="./assets/image/create-account-page/blue-logo.png" alt="blue-logo">
                  <div class="course-selector-container-inner">
                    <p>Обучайся <span class="orange">играя!</span></p>
                    <img src="./assets/image/create-account-page/course-selector-phone.png" alt="course-selector-phone">
                  </div>
                </div>
              </div>
            </div>
          </div>  
          </div>
      </div>
    </section>
  </main>
</body>
</html>