<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/layout/css/reset.css">
  <link rel="stylesheet" href="/layout/css/index.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header__inner">
      <div class="header-logo">
        <img src="./assets/image/header-logo.png" alt="logo">
      </div>
      
      <div class="navigation-header">
        <div class="navigation__inner">
          <nav>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Course Selector</a></li>
              <li><a href="">Courses</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">About US</a></li>
            </ul>
          </nav>
        </div>
      </div>

      
    </div>
  </header>


  <p>lolololo</p>
</body>
</html>