:root {
  --orange: #F98149;

}


@font-face {
  font-family: Regular;
  src: url(/layout/assets/fonts/Poppins-Regular.ttf);
}

body {
  font-family: Regular;
}


/* CONTAINER */

.container {
  max-width: 1874px;
  margin: 0 auto;
}


/* HEADER */

header {
  margin: 78px 31px 0 15px;
  padding: 0 67px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.nav__menu {
  display: flex;
  gap: 55px;
  justify-content: space-between;
}

.btn-section {
  display: flex;
  gap: 54px;
}

.btn {
  width: 183px;
  height: 60px;
  border: 2px solid;
  border-radius: 8px;
  border-color: var(--orange);
}