<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Ezyskills | Courses List</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" itemprop="description" content="">
	<meta name="keywords" itemprop="keywords" content="">
    <!-- favicon -->
    <link rel="icon" type="image/png" th:href="@{/assets/icon/favicon-96x96.png}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" th:href="@{/assets/icon/favicon.svg}" />
    <link rel="shortcut icon" th:href="@{/assets/icon/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/icon/apple-touch-icon.png}" />
    <meta name="apple-mobile-web-app-title" content="EzySkills" />
    <link rel="manifest" th:src="@{/assets/site.webmanifest}" />
    <!-- favicon -->
    <link rel="stylesheet" th:href="@{/assets/css/reset.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.min.css}" />
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__body">
                    <a th:href="@{/}" class="header__logo">
                        <picture>
                            <source media="(min-width: 575.98px)" th:srcset="@{/assets/img/logo.png}">
                            <img th:src="@{/assets/img/logo-mobile.png}" alt="Logotype">
                        </picture>
                    </a>
                    <nav aria-label="main menu" class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item"><a th:href="@{/}" class="menu__link">Home</a></li>
                            <li class="menu__item"><a th:href="@{/course-selector}" class="menu__link">Course Selector</a></li>
                            <li class="menu__item"><a th:href="@{/courses}" class="menu__link">Courses</a></li>
                            <li class="menu__item"><a th:href="@{/pricing}" class="menu__link">Pricing</a></li>
                            <li class="menu__item"><a th:href="@{/faq}" class="menu__link">FAQ</a></li>
                            <li class="menu__item"><a th:href="@{/contacts}" class="menu__link">Contact US</a></li>
                        </ul>
                    </nav>
                    <div sec:authorize="!isAuthenticated()" class="header__actions">
                        <a th:href="@{/login}" class="header__action btn btn-primary-outline">Log In</a>
                        <a th:href="@{/register}" class="header__action btn btn-primary">Create Account</a>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="header__actions">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="header__action btn btn-primary-outline">logout</button>
                        </form>
                    </div>
				</div>
			</div>
		</header>
		<main class="page">
			<section class="courses">
				<div class="courses__header">
					<div class="container">
						<h2 class="courses__title title-md">Courses <span class="color-accent">List</span></h2>
                        <form th:action="@{/courses}" method="get" class="courses__filters">
                            <div class="courses__search">
                                <input type="text" name="search" class="courses__search-input"
                                       th:value="${param.search}" placeholder="Search The Course Here">
                                <button type="submit" class="courses__search-btn">
                                    <img th:src="@{/assets/img/icons/search.svg}" alt="icon">
                                </button>
                            </div>

                            <div class="courses__filters-items">
                                <label th:each="filter : ${filters}" class="courses__filters-item">
                                    <input type="radio" name="filter" th:value="${filter.key}"
                                           th:checked="${param.filter == filter.key}"
                                           class="courses__filters-input hidden">
                                    <span class="courses__filters-text" th:text="${filter.value}"></span>
                                </label>
                            </div>

                            <label class="courses__filters-sort">
                                <span class="courses__filters-caption">Sort by:</span>
                                <select name="sort" class="courses__filters-select">
                                    <option th:each="sortOption : ${sortOptions}"
                                            th:value="${sortOption.key}"
                                            th:selected="${param.sort == sortOption.key}"
                                            th:text="${sortOption.value}"></option>
                                </select>
                            </label>
                        </form>
					</div>
				</div>
				<div class="courses__body">
					<div class="container">
						<ul class="courses__list">
                            <li th:each="course : ${courses}" class ="course" th:id="${course.id}">
                                <a th:href="@{/courses/course-page/{id}(id=${course.id})}" class="course__logo">
                                    <img th:src="@{${course.imageUrl}}" alt="Course logo">
                                </a>
                                <div class="course__body">
                                    <h3 class="course__name">
                                        <a th:href="@{/courses/course-page/{id}(id=${course.id})}" th:text="${course.name}"></a>
                                    </h3>
                                    <p class="course__desc" th:text="${course.subtitle}"></p>
                                    <div class="course__actions">
                                        <button class="course__action">
                                            <span class="course__action-icon">
                                                <img th:src="@{/assets/img/icons/monitor.svg}" alt="icon">
                                            </span> <span th:text="${'Rating: ' + course.rating}"></span>
                                        </button>
                                        <button class="course__action">
                                            <span class="course__action-icon">
                                                <img th:src="@{/assets/img/icons/clip.svg}" alt="icon">
                                            </span> <span th:text="${'Enrolled: ' + course.enrollmentCount}"></span>
                                        </button>
                                    </div>
                                    <a class="course__btn btn btn-primary" th:href="@{/courses/course-page/{id}(id=${course.id})}">
                                        <span class="course__btn-icon">
                                            <img th:src="@{/assets/img/icons/download-white.svg}" alt="icon">
                                        </span> Start Learning
                                    </a>
                                </div>
                            </li>
						</ul>
                        <div class="courses__pagination pagination">
                            <a th:each="page : ${#numbers.sequence(1, totalPages)}"
                               th:href="@{/courses(page=${page}, search=${searchQuery}, filter=${selectedFilter}, sort=${selectedSort})}"
                               th:class="'pagination__item' + (${page == currentPage} ? ' active' : '')"
                               th:text="${page}">
                            </a>
                        </div>
					</div>
				</div>
			</section>
		</main>
        <footer class="footer">
            <div class="container">
                <div class="footer__body">
                    <div class="footer__main">
                        <a th:href="@{/}" class="footer__logo">
                            <img th:src="@{/assets/img/logo-white.svg}" alt="logotype">
                        </a>
                        <p class="footer__note">Let Us build your career together Be the first person to transform yourself with our unique & world class corporate level trainings.</p>
                        <form action="#" class="footer__form form">
                            <h3 class="form__caption">Subscribe Our Newsletter</h3>
                            <div class="form__row">
                                <input type="email" name="email" class="form__control" placeholder="Your Email address">
                                <button type="submit" class="form__submit">
                                    <img th:src="@{/assets/img/icons/arrow-right-white.svg}" alt="icon">
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="footer__side">
                        <nav class="footer__menu" aria-label="menu in footer">
                            <h3 class="footer__title title-sm"> Quick <span class="color-accent">Links</span>
                            </h3>
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item"><a th:href="@{/}" class="footer__menu-link">Home</a></li>
                                <li class="footer__menu-item"><a th:href="@{/about}" class="footer__menu-link">Our Story</a></li>
                                <li class="footer__menu-item"><a th:href="@{/courses}" class="footer__menu-link">Best Courses</a></li>
                                <li class="footer__menu-item"><a th:href="@{/faq}" class="footer__menu-link">Your FAQ’s</a></li>
                                <li class="footer__menu-item"><a th:href="@{#}" class="footer__menu-link">Cancellation & Refunds</a></li>
                                <li class="footer__menu-item"><a th:href="@{/contacts}" class="footer__menu-link">Contact US</a></li>
                            </ul>
                        </nav>
                        <div class="footer__contacts">
                            <h3 class="footer__title title-sm"> Contact <span class="accent-color">Us</span>
                            </h3>
                            <ul class="footer__contacts-list">
                                <li class="footer__contacts-item">
                                    <div class="footer__contacts-icon">
                                        <img th:src="@{/assets/img/icons/location-white.svg}" alt="icon">
                                    </div>
                                    <div class="footer__contacts-body">
                                        <address>Navakethan Complex, 6th Floor, 605, 606 A&P opp, CLock Tower, SD Road, Secunderabad, Telangana 500003</address>
                                    </div>
                                </li>
                                <li class="footer__contacts-item">
                                    <div class="footer__contacts-icon">
                                        <img th:src="@{/assets/img/icons/envelope-white.svg}" alt="icon">
                                    </div>
                                    <div class="footer__contacts-body">
                                        <a th:href="@{'mailto:info@ezyskills.in'}">info@ezyskills.in</a>
                                    </div>
                                </li>
                                <li class="footer__contacts-item">
                                    <div class="footer__contacts-icon">
                                        <img th:src="@{/assets/img/icons/phone-white.svg}" alt="icon">
                                    </div>
                                    <div class="footer__contacts-body">
                                        <div><a th:href="@{tel:+918428448903}">+91 8428448903</a></div>
                                        <div><a th:href="@{tel:+919475484959}">+91 9475484959</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__links">
                        <a th:href="@{#}" class="footer__link">Terms & Conditions</a>
                        <a th:href="@{#}" class="footer__link">Privacy Policy</a>
                    </div>
                    <div class="footer__socials">
                        <a th:href="@{https://facebook.com}" class="footer__social"><img th:src="@{/assets/img/icons/facebook.svg}" alt="Facebook"></a>
                        <a th:href="@{https://twitter.com}" class="footer__social"><img th:src="@{/assets/img/icons/twitter.svg}" alt="Twitter"></a>
                        <a th:href="@{https://instagram.com}" class="footer__social"><img th:src="@{/assets/img/icons/instagram.svg}" alt="Instagram"></a>
                        <a th:href="@{https://linkedin.com}" class="footer__social"><img th:src="@{/assets/img/icons/linkedin.svg}" alt="LinkedIn"></a>
                        <a th:href="@{https://youtube.com}" class="footer__social"><img th:src="@{/assets/img/icons/youtube.svg}" alt="YouTube"></a>
                    </div>
                </div>
            </div>
        </footer>
	</div>
</body>
</html>
