<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/create-account.css">
  <title>Регистрация</title>
</head>
<body>

  <header>
    <div class="container">
      <div class="header__inner">
        <div>
          <img src="../assets/image/header-logo.png" alt="logo">
        </div>
        
            <nav>
              <ul class="nav__menu">
                <li class="link__item"><a href="../index.html">В начало</a></li>
                <li class="link__item"><a href="">Выбрать курсы</a></li>
                <li class="link__item"><a href="">Курсы</a></li>
                <li class="link__item"><a href="">FAQ</a></li>
                <li class="link__item"><a href="">Контакты</a></li>
                <li class="link__item"><a href="">О нас</a></li>
              </ul>
            </nav>

        <div class="btn-section">
          <button class="btn">Войти</button>
          <button class="btn">Зарегистрироваться</button> 
        </div>     
      </div>
    </div>
  </header>
  
  <section class="create-account-section">
    <div class="container">
      <div class="section__inner">
        <form action="#" class="sign-up-container">
          <div class="form-container">
            <h1>Регистрация</h1>
            <label for="email"></label>
            <input class="placeholder" type="text" placeholder="Введите свой email" name="email">

            <label for="password"></label>
            <input class="placeholder" type="password" placeholder="Create password" name="password">

            <label for="password-repeat"></label>
            <input class="placeholder" type="password" placeholder="Повторите пароль" name="password-repeat">

            <label>
              <input type="checkbox" checked="checked" name="remember">
              Запомнить меня
            </label>

            <div class="btn-container">
              <button class="btn-create-account" type="submit">Создать аккаунт</button>
            </div>
            

            <div class="btn-container">
              <p>Уже зарегистрированы?<a href="#"> Войдите!</a></p>
            </div>

          </div>
        </form>

        <div class="create-account-image">
          <img src="../assets/image/create-account-page/woman-with-laptop.png" alt="woman-with-laptop">
        </div>
      </div>
    </div>
  </section>

</body>
</html>