<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/create-account.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="header__inner">
        <div>
          <img src="../assets/image/header-logo.png" alt="logo">
        </div>
        
            <nav>
              <ul class="nav__menu">
                <li class="link__item"><a href="../index.html">В начало</a></li>
                <li class="link__item"><a href="">Выбрать курсы</a></li>
                <li class="link__item"><a href="">Курсы</a></li>
                <li class="link__item"><a href="">FAQ</a></li>
                <li class="link__item"><a href="">Контакты</a></li>
                <li class="link__item"><a href="">О нас</a></li>
              </ul>
            </nav>

        <div class="btn-section">
          <button class="btn">Войти</button>
          <a class="btn" href="../html-pages/create-account.html">Зарегистрироваться</a> 
        </div>     
      </div>
    </div>
  </header>
  <main>
    <section>
      <div class="container">
        <div class="section__inner">
          <form action="#" class="login-container">
            <div class="form-container">

              <h1>Войти</h1>
              <label for="email"></label>
              <input class="placeholder" type="text" placeholder="Введите свой email" name="email">

              <label for="password"></label>
              <input class="placeholder" type="password" placeholder="Create password" name="password">

              <label>
                <input type="checkbox" checked="checked" name="remember">
                Запомнить меня
              </label>

              <div class="btn-container">
                <button class="btn-create-account" type="submit">Войти</button>
              </div>


            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</body>
</html>