<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users List</title>
        <link rel="stylesheet" href="path_to_your_css.css">
    </head>
    <body>
    <h1>User List</h1>

    <a href="/admin/users/create">Create New User</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role.name}"></td>
            <td>
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Edit</a>
                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
</html>
