<div class="sidebar" th:fragment="sidebar">
    <h2>Admin dashboard</h2>

    <div class="theme-toggle">
        <button onclick="toggleTheme()">Toggle Theme</button>
    </div>
    <a href="/admin/dashboard/main"><i class="fa fa-home"></i> Main page</a>
    <a href="/admin/dashboard/users"><i class="fas fa-users"></i> Users</a>
    <a href="/admin/dashboard/categories"><i class="fas fa-book-open"></i> Categories</a>
    <a href="/admin/dashboard/courses"><i class="fas fa-book-open"></i> Courses</a>
    <a href="/admin/dashboard/lessons"><i class="fas fa-book-open-reader"></i> Lessons</a>
</div>
